.dish-divide svg,
svg polygon {
	fill: rgba(0, 0, 0, 0.35);
	stroke-width: 0;
}
.dish-divide {
	margin: 10px;
}
.form-notification {
	font-size: 0.8rem;
	line-height: 1.4rem;
	margin: 0px 10px;
	border: 1px solid #56a7c6;
	padding: 5px 10px;
	background: #cff2ff;
	text-align: center;
	border-radius: 4px;
}
.menu-manager {
	width: calc(100% + 160px);
	margin: 0px -80px;
	@media (max-width: 980px) {
		width: 100%;
		margin: 10px 0px;
	}
}
.menu-navigation {
	width: 100%;
	max-width: 300px;
	justify-content: center;
	display: flex;
	margin: 20px auto 50px auto;

	.page-indicator {
		display: inline-block;
		border: 2px solid #d8d8d8;
		width: 15px;
		height: 15px;
		border-radius: 20px;
		margin: 0px 5px;
		transition: 0.15s all ease-in-out;
		cursor: pointer;
		&:hover {
			opacity: 0.6;
		}
		&.selected {
			background-color: #9e1212;
			border-color: #9e1212;
		}
	}
	@media (max-width: 980px) {
		flex-wrap: wrap;
		.page-indicator {
			width: 10px;
			height: 10px;
		}
	}
}
@media (min-width: 980px) {
	.page-wrapper {
		padding: 30px 50px;
	}
}
