.page.centered-price-bottom {
	.section {
		max-width: 350px;
		& > .title {
			color: #914d28;
			font-weight: 800;
			text-transform: uppercase;
			font-size: 1.6rem;
			padding: 0 20px 5px;
			display: inline-block;
			border-bottom: 2px dotted #ca4343;
			font-size: 1.5em;
			margin: 0px;
		}

		& > .price {
			font-weight: 800;
			font-size: 1.4em;
			margin-top: 30px;
		}
	}
	.wine-recommendation {
		margin-top: 30px;
		font-weight: 300;
		& > span {
			font-size: 1.2em;
			text-decoration: underline;
			margin-bottom: 10px;
			display: inline-block;
		}
		.description,
		.name {
			margin: 0px;
		}
		.price {
			margin-top: 5px;
			display: inline-block;
		}
	}
}
